*{
    user-select: none;
    display: inline-flexbox;
   background-repeat: no-repeat;
   background-size: 100%; 
   background-attachment: fixed;  
   background-size: cover;
}


body{
    background-image: url(BackgroundIMG/Pule2.jpg);
}
    

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Roboto Condensed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 420px;
    border-radius: 25px;
}


p1 {
    text-align: center ;
    font-family: Ubuntu;
    font-size: 30px;
}

.Next {
    font-size: 40px;
    font-family: Ubuntu;
    text-align: center;
    color: rgb(141, 141, 0);
}

.Next :hover {
    opacity: 200%;
    background-color: rgb(0, 255, 85);
    padding: 2px 25px;
    transition: .5s;
    border-radius: 75px;
    color: rgb(0, 0, 0);
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  